body {
  background-color: #efefef;
}

.confirmed-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: green;
}

.container-confirmed-order {
  width: 50%;
  margin: 0 auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #e3e6e8;
}

.text-center {
  text-align: center;
}

.m-t-5 {
  margin-top: 50px;
}

h1 {
  font-size: 35px;
}

.box {
  border: 1px solid #ced5dc;
  border-radius: 0.5rem;
}
