<%- contentFor('styles') %>
<link rel="stylesheet" href="/styles/login.css">


<%- contentFor('body') %>
<h1>Log In</h1>
<div class="container">
  <form action="">
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control is-invalid"
        id="floatingInput"
        placeholder="EMAIL"
      />
      <label for="floatingInput">EMAIL</label>
      <div id="validationServer03Feedback" class="invalid-feedback">
        Please provide a valid email.
      </div>
    </div>
    <div class="form-floating mb-3 m-t-30">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="PASSWORD"
      />
      <label for="floatingPassword">PASSWORD</label>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button
        class="general-button btn btn-primary m-t-30 m-b-50"
        type="button"
      >
        UPDATE MY PASSWORD
      </button>
    </div>

    <div class="text-center"><a href="">Sign Up</a></div>
  </form>
</div>
<%- contentFor('scripts') %>
