<nav>
  <div class="logo">Secret Heart store</div>

  <div class="collapse navbar-collapse show" id="navbar-list-4">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a
          class="m-t-15 nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          data-bs-toggle="dropdown"
        >
          <img
            src="./img/1.1.jpeg"
            width="30"
            height="30"
            class="rounded-circle"
          />
        </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Dashboard</a>
          <a class="dropdown-item" href="#">Edit Profile</a>
          <a class="dropdown-item" href="#">Log Out</a>
        </div>
      </li>
    </ul>
  </div>

  <div>
    <div class="m-t-24">Hi MO</div>
  </div>
</nav>
