<%- include('../partials/head', {title: title}); %>

<body>
  <%- include('../partials/nav');%>
  <%- body %>

  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <%- scripts %>

    <script>
      function getAccountDetailAndUpdateNavBar() {
        axios.get('/api/my/account-detail')
          .then((result) => {
            $('.public-nav-item').hide();
            $('.private-nav-item').show();
            const { data: {name} } = result;
            $('#nav-item-name').text(name);
          })
          .catch(() => {
            $('.public-nav-item').show();
            $('.private-nav-item').hide();
            $('#nav-item-name').text(name);
          })
      }
      getAccountDetailAndUpdateNavBar();

      //Log out
      $('#nav-item-logout').click(function () {
        axios.delete('/api/auth/logout')
          .then(() => {
            window.location.href = "/";
          })
          .catch(() => {
            alert('Failed Logout Please try again later')
          })
      })
    </script>


</body>

</html>
