<%- contentFor('styles') %>
<link rel="stylesheet" href="/styles/custom.css" />

<%- contentFor('body') %>
<div class="container">
  <!--New Arrivals-->

  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row g-0">
        <div
          class="col-lg-6 order-lg-2 text-white showcase-img"
          style="background-image: url('/img/1.5.jpeg')"
        ></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>New Arrivals</h2>
          <p class="lead mb-0">Latest styles designed by Secret Heart store</p>
        </div>
      </div>
    </div>
  </section>

  <!--Best Sellers-->

  <section class="Best Sellers">
    <div class="m-t-100">
      <div class="container text-center">
        <hr />
        <div class="text">Best Sellers</div>
        <hr />
        <div class="images-best-sellers">
          <div class="row row-cols-2">
            <div class="col">
              <div class="box-image-1-best-sellers">
                <div>
                  <img
                    width="500"
                    height="600"
                    src="./img/p-1.png"
                    alt="image-1"
                  />
                </div>
                <div class="m-13 text-top-1-best-sellers">
                  <h5>Rocky top</h5>
                  <h6>120 HKD</h6>
                </div>
              </div>
            </div>
            <div class="col">
              <div class=" box-image-2-best-sellers">
                <div>
                  <img
                    width="500"
                    height="600"
                    src="./img/p-2.png"
                    alt="image-2"
                  />
                </div>
                <div class="m-13  text-top-2-best-sellers">
                  <h5>Crumble shirt</h5>
                  <h6>180 HKD</h6>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="box-image-3-best-sellers">
                <div>
                  <img
                    width="500"
                    height="600"
                    src="./img/p-3.png"
                    alt="image-3"
                  />
                </div>
                <div class="m-13 text-top-3-best-sellers">
                  <h5>Wafer top</h5>
                  <h6>140 HKD</h6>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="box-image-4-best-sellers">
                <div>
                  <img
                    width="500"
                    height="600"
                    src="./img/p-4.png"
                    alt="image-4"
                  />
                </div>
                <div class="m-13 text-top-4-best-sellers">
                  <h5>Chloe dress</h5>
                  <h6>120 HKD</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--#Secret Heart store girls-->
      <div class="box-secret-heart-store-girls">
        <hr />
        <div class="text">#Secret Heart store girls</div>
        <hr />
        <div class="container-secret-heart-store-girls text-center">
          <div class="row row-cols-4">
            <div class="col">
              <div>
                <img
                  width="300"
                  height="400"
                  src="./img/s-3.jpeg"
                  alt="review-1"
                />
              </div>
              <div class="text-review-1">
                <h6 class="m-t-10">Mo x Cozy set</h6>
                <h6>@jujucloe</h6>
              </div>
            </div>
            <div class="col">
              <div>
                <img
                  width="300"
                  height="400"
                  src="./img/s-4.jpeg"
                  alt="review-2"
                />
              </div>
              <div class="text-review-2">
                <h6 class="m-t-10">Nucharin x Summer Floral dress</h6>
                <h6>@mommyyyy</h6>
              </div>
            </div>
            <div class="col">
              <div>
                <img
                  width="300"
                  height="400"
                  src="./img/s-1.jpeg"
                  alt="review-3"
                />
              </div>
              <div class="text-review-3">
                <h6 class="m-t-10">Erica x Korean Hanbok top</h6>
                <h6>@ericacute</h6>
              </div>
            </div>
            <div class="col">
              <div>
                <img
                  width="300"
                  height="400"
                  src="./img/s-2.jpeg"
                  alt="review-4"
                />
              </div>
              <div class="text-review-3">
                <h6 class="m-t-10">Luna x Korean Hanbok top</h6>
                <h6>@mooncake</h6>
              </div>
            </div>
          </div>
        </div>

        <footer>
          <div class="info">
            <div>Info</div>
            <span>About us</span>
            <span>Contact</span>
            <span>Shipping</span>
            <span>Returns</span>
          </div>
        </footer>
      </div>
    </div>
  </section>
</div>

<%- contentFor('scripts') %>
