.black-text {
  color: black;
}

.m-t-15 {
  margin-top: 15px;
}

.m-t-24 {
  margin-top: 24px;
}

.m-t-100 {
  margin-top: 100px;
}

.p-l-33 {
  padding-left: 33px;
}

.dropdown-and-username {
  display: flex;
  justify-content: flex-end;
  padding-right: 80px;

}

nav {
  margin-top: 10px;
  margin-bottom: 50px;
  width: 80%;
  border-bottom-style: solid;
  position: relative;   border-color: #eee;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

nav > div {
  width: 33%;
}

.navbar-nav {
  margin: 0;
}

.navbar-collapse {
  flex-basis: auto;
  flex-grow: 0.1;
  width: 0;
}

.logo {
  margin: 0 auto;
  padding-top: 20px;  font-family: 'Bodoni Moda', serif;
  font-size: 25px;
  text-align: center;
}

.pic-new-arrival {
  width: 50%;
  height: 70%;
}

a {
  text-decoration: none;
}

.showcase-text {
  padding: 8rem;
  padding-top: 45px;
}

.showcase-img {
  margin-top: 20px;
  background-size: cover;
  min-height: 50rem;
}

.mb-0 {
  font-size: 20px;
}

.h2, h2 {
  font-size: 2rem;
}

.text {
  font-size: 34px;
  font-family: 'DM Serif Display', serif;
  letter-spacing: -0.25px;
  line-height: 44px;
  text-align: center;

}

.images-best-sellers {
  margin-top: 67px;
}

.container-secret-heart-store-girls {
  margin-top: 50px;
}

.box-secret-heart-store-girls {
  margin-top: 90px;
}

.m-13 {
  margin: 13px;
}

.m-t-10 {
  margin-top: 10px;
}
