<%- contentFor('styles') %>
<link rel="stylesheet" href="/styles/orders.css">

<%- contentFor('body') %>
<h1>My Orders</h1>
<div>
  <table class="table">
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Subtotal</th>
      <th scope="col">Shipping</th>
      <th scope="col">Payment Method</th>
      <th scope="col">Address</th>
      <th scope="col">Total</th>
    </tr>
    <tr>
      <td>Cotton dress</td>
      <td>120 HKD </td>
      <td>30 HKD</td>
      <td>Bank Transfer</td>
      <td>Maria Anders Lorem ipsum dolor, sir adipisicing elit. Aspernatur, nisi?</td>
      <td>150 HKD</td>
    </tr>
  </table>

  <button>ORDER AGAIN</button>
</div>
<%- contentFor('scripts') %>
