<%- contentFor('styles') %>
<link rel="stylesheet" href="/styles/payment.css" />

<%- contentFor('body') %>
<div class="container">
  <h4 class="m-b-22 text-center">Please select your payment method</h4>

  <div class="box-form">
    <form action="/action_page.php">
      <div class="m-l-r-7">
        <input
          type="radio"
          id="creditCard"
          name="paymentMethod"
          value="creditCard"
        />
        <label for="creditCard">Credit card</label>
      </div>

      <div class="m-l-r-7">
        <input
          type="radio"
          id="bankTransfer"
          name="paymentMethod"
          value="bankTransfer"
        />
        <label for="bankTransfer">Bank transfer</label>
      </div>

      <div class="m-l-r-7">
        <input type="radio" id="payMe" name="paymentMethod" value="payMe" />
        <label for="payMe">Pay me</label>
      </div>

      <div class="m-l-r-7">
        <input type="radio" id="paypal" name="paymentMethod" value="paypal" />
        <label for="paypal">PayPal</label>
      </div>
    </form>
  </div>
</div>

<h4 class="text-center text-delivery-address">Delivery Address</h4>
<div class="box-delivery">
  <form action="">
    <div class="form-floating mb-3">
      <input
        type="name"
        class="form-control"
        id="floatingInput"
        placeholder=" NAME"
      />
      <label for="floatingInput"> NAME</label>
    </div>

    <div class="form-floating m-b-6">
      <input
        type="phone number"
        class="form-control is-invalid"
        id="floatingInput"
        placeholder="PHONE NUMBER"
      />
      <label for="floatingInput">PHONE NUMBER</label>

      <div id="validationServer03Feedback" class="invalid-feedback">
        Please provide a valid phone number.
      </div>
    </div>

    <div class="form-floating mb-3">
      <textarea
        type="address"
        class="form-control"
        placeholder="ADDRESS"
        id="floatingInput"
        style="height: 100px">
      </textarea>
      <label for="floatingInput">Delivery Address</label>
    </div>

    <div class="m-t-32 d-grid gap-2 col-6 mx-auto">
      <button
        class="general-button btn btn-primary m-t-30 m-b-100"
        type="button"
      >
        Submit
      </button>
    </div>
  </form>

  <%- contentFor('scripts') %>
</div>
