<%- contentFor('styles') %>
<link rel="stylesheet" href="/styles/products.css" />

<%- contentFor('body') %>
<div id="pages-my-wishlists-index" class="container"></div>
<div>
  <div class="container text-center">
    <div class="row">
      <div class="col-6">
        <div>
          <img class="heart-t-1" src="/img/heart-t-1.png" alt="" />
        </div>
        <div>
          <img src="" alt="" />
        </div>
        <div>
          <img src="" alt="" />
        </div>
        <div>
          <img src="" alt="" />
        </div>
      </div>

      <div class="col-5">
        <div class="description-product">
          <h5 class="text-description-center">Baby Tee - White</h2>
          <h5 class="text-description-center">90 HKD</h3>
          <p class="text-description-center">Size: Select a size</p>
          <button type="button" class="btn btn-outline-dark">M</button>
          <button type="button" class="btn btn-outline-dark">L</button>
          <button type="button" class="buy-button btn btn-outline-dark">BUY</button>
        </div>
      </div>
    </div>
  </div>
</div>

<%- contentFor('scripts') %>
